@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 15%;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    color: #1e293b;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
